<h2>Get Form</h2>
<form method="GET" action="/sandbox">
  Name:<input type="text" name="post[name]"><br>
  <label>Age:</label><br>
  <input type="radio" name="post[age]" value="Young">
  <label>Young</label>
  <input type="radio" name="post[age]" value="Teen">
  <label>Teen</label>
  <input type="radio" name="post[age]" value="Old">
  <label>Teen</label><br> 
  <input type="submit">  
</form>

<h2>Post Form</h2>
<form method="POST" action="/sandbox">
  <label>Name:</label><input type="text" name="post[name]"><br>
  <label>Age:</label><br>
  <input type="radio" name="post[age]" value="Young">
  <label>Young</label>
  <input type="radio" name="post[age]" value="Teen">
  <label>Teen</label>
  <input type="radio" name="post[age]" value="Old">
  <label>Teen</label><br> 
  <input type="submit"> 
</form>

